body, textarea {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	scroll-behavior: smooth;
}

body, .navbar {
	padding: 0;
	margin: 0;
	text-align: center;
	color: #333;
	scroll-padding-top: 70px; 
}

body, .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

body {
	background-color: #f4f4f4;
	line-height: 1.6em;
	height: 100vh;
}

.navbar {
	position: sticky;
	top: 0;
	backdrop-filter: blur(1px);
	z-index: 1;
	background-color: rgba(244, 244, 244, 0.7); 
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.nav-link, .about-link {
	color: inherit;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.logo {
	height: 30px;
	width: auto;
	margin-right: 3px; 
}

.container {
	background-color: #fff; 
}

.container {
	padding: 20px;
	height: calc(100vh - 90px);
}

#result {
	font-size: 1.5em;
	margin-bottom: 10px;
	user-select: text;
}

.textareas {
	display: flex;
	flex-direction: column;
	height: 85vh;
	gap: 2vh;
}

@media (min-width: 768px) {
	.textareas {
		flex-direction: row;
	}
}

textarea {
	resize: vertical;
	max-width: 100%;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 1em;
	outline: none;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.1);
}

@media (min-width: 768px) {
	textarea {
		resize: horizontal;
	}
}

.counters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.counters > .counter {
	background-color: #f0f0f0;
	color: #333333;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	box-sizing: border-box;
}

@media (max-width: 767px) {
	.options {
		flex-direction: column;
	}
	.counters > .counter {
		flex-basis: 100%;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

@media (min-width: 768px) {
	.counters {
		gap: 2%;
	}
	.counters > .counter {
		flex-basis: calc(20% - 2%); 
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
	}
}

.counters > .counter > .label {
	font-size: 0.8em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.counters > .counter > .value {
	font-size: 1.5em;
	font-weight: 900;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #121212;
		color: #fff;
	}

	.navbar, .footer {
		background-color: #575757;
		color: #fff;
	}

	.container {
		background-color: #282828;
	}

	#result {
		color: #8b8b8b;
	}

	textarea {
		background-color: #3f3f3f;
		color: #fff;
	}

	.counters > .counter {
		background-color: #3f3f3f;
		color: #fff;
	}
}

.footer {
	padding: 20px;
	background-color: #333;
	text-align: left!important;
}

.lander {
	padding: 20px;
	text-align: left!important;
	font-size: 1em;
}

.dots {
	width: fit-content;
	font-weight: bold;
	font-size: 0.5em;
	clip-path: inset(0 3ch 0 0);
	animation: l4 1s steps(4) infinite;
}

@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}

#notification {
	visibility: hidden;
	min-width: 250px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 16px;
	position: fixed;
	z-index: 10;
	left: 50%;
	bottom: 30px;
	font-size: 1em; 
	opacity: 0;
	transition: opacity 1s;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	transform: translateX(-50%);
}

#notification.show {
	visibility: visible;
	opacity: 1;
}


#notification.show {
	visibility: visible;
	opacity: 1;
}

.modal {
	position: fixed; 
	z-index: 2; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0,0,0,0.4); 
	backdrop-filter: blur(2px);
	display: none; 
	align-items: center; 
	justify-content: center;
}

.modal.show {
	display: flex;
}

.modal-content {
	background-color: #fff; 
	margin: auto; 
	padding: 20px;
	border-radius: 5px;
	width: 80%; 
	height: 80vh; 
	color: #333;
	text-align: center;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.1);
	overflow: auto; 
}

.modal-header {
	backdrop-filter: blur(1px);
	position: sticky; 
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.9);
}

.title {
	font-size: 1.5em;
	font-weight: bold;
}

.close {
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	text-align: left;
}

.setting-name {
	font-weight: bold;
}

.options {
	display: flex;
	gap: 10px;
}

.option {
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: #f0f0f0;
	cursor: pointer;
}

.option:hover {
	background-color: #ddd;
}

.option.active {
	background-color: #bbb!important;
}

.setting-description {
	display: flex;
	flex-direction: column;
	margin-right: 5px;
}


.description {
	font-size: 0.9em;
	color: #666;
}
