body, textarea {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body, .navbar, .footer {
	padding: 0;
	margin: 0;
	text-align: center;
	color: #333;
}

body, .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

body {
	background-color: #f4f4f4;
	line-height: 1.6em;
	height: 100vh;
}

.navbar, .footer {
	background-color: #333;
	color: #fff;
	padding: 10px 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container {
	background-color: #fff; 
}

.container {
	padding: 20px;
	height: calc(100vh - 90px);
}

#result {
	font-size: 1.5em;
	margin-bottom: 10px;
	user-select: text;
}

.textareas {
	display: flex;
	flex-direction: column;
	height: 85vh;
	gap: 2vh;
}

@media (min-width: 768px) {
	.textareas {
		flex-direction: row;
	}
}

textarea {
	resize: vertical;
	max-width: 100%;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 1em;
	outline: none;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.1);
}

@media (min-width: 768px) {
	textarea {
		resize: horizontal;
	}
}

.counters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.counters > .counter {
	background-color: #f0f0f0;
	color: #333333;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	box-sizing: border-box;
}

@media (max-width: 767px) {
	.counters > .counter {
		flex-basis: 100%;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

@media (min-width: 768px) {
	.counters {
		gap: 2%;
	}
	.counters > .counter {
		flex-basis: calc(20% - 2%); 
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.counters > .counter > .label {
	font-size: 0.8em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.counters > .counter > .value {
	font-size: 1.5em;
	font-weight: 900;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #121212;
		color: #8b8b8b;
	}

	.navbar, .footer {
		background-color: #575757;
		color: #fff;
	}

	.container {
		background-color: #282828;
	}

	#result {
		color: #8b8b8b;
	}

	textarea {
		background-color: #3f3f3f;
		color: #8b8b8b;
	}

	.counters > .counter {
		background-color: #3f3f3f;
		color: #fff;
	}
}
