body,
textarea {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	scroll-behavior: smooth;
}

body,
.navbar {
	padding: 0;
	margin: 0;
	text-align: center;
	color: #333;
	scroll-padding-top: 70px;
}

body,
.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

body {
	background-color: #f4f4f4;
	line-height: 1.6em;
	height: 100vh;
}

.navbar {
	position: sticky;
	top: 0;
	backdrop-filter: blur(1px);
	z-index: 1;
	background-color: rgba(244, 244, 244, 0.7);
	padding: 10px 20px!important;
	display: flex;
	align-items: center;
	justify-content: space-between;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 20px!important;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link,
.about-link {
	color: inherit;
	text-decoration: none;
	display: flex;
	align-items: center;
	font-weight: 900;
}

.logo {
	height: 28px;
	width: auto;
	margin-right: 3px;
}

.container {
	background-color: #fff;
}

.container {
	padding: 20px;
	height: calc(100vh - 90px);
}

#result {
	font-size: 1.5em;
	margin-bottom: 10px;
	user-select: text;
}

.textareas {
	display: flex;
	flex-direction: column;
	height: 85vh;
	gap: 2vh;
	font-size: large;
}

@media (min-width: 768px) {
	.textareas {
		flex-direction: row;
	}
}

textarea {
    resize: none;
    max-width: 100%;
    border: 1px solid transparent; /* Default border color */
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    outline: none;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1); /* Original shadow */
    transition: box-shadow 0.5s ease, border-color 0.5s ease;
    position: relative; /* For absolute positioning of pseudo-elements */
}

textarea:focus {
    box-shadow: 0 0 8px #e0e0e0, 0 0 15px #e0e0e0; /* Box shadow color on focus */
    border-color: #e0e0e0; /* Border color on focus */
}

textarea:not(:focus) {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1); /* Original shadow */
    border-color: transparent; /* Keep border transparent when not focused */
}

textarea:focus::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 10px; /* Match the textarea's border radius */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
                0 0 30px rgba(255, 255, 255, 0.6),
                0 0 40px rgba(255, 255, 255, 0.4),
                0 0 50px rgba(255, 255, 255, 0.2);
    opacity: 0;
    animation: glow 1.5s infinite alternate; /* Animation for the glow */
}

@keyframes glow {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.counters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.counters>.counter {
	background-color: #f0f0f0;
	color: #333333;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.counters>.counter:hover {
	background-color: #e0e0e0;
}

@media (max-width: 767px) {
	.options {
		flex-direction: column;
	}

	.counters>.counter {
		flex-basis: calc(50% - 10px); /* Subtract double the margin */
		margin: 5px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
	}
}


@media (min-width: 768px) {
	.counters {
		gap: 2%;
	}

	.counters>.counter {
		flex-basis: calc(20% - 2%);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
	}
}

.counters>.counter>.label {
	font-size: 0.8em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.counters>.counter>.value {
	font-size: 1.5em;
	font-weight: 900;
}

.footer {
	padding: 20px;
	background-color: #333;
	text-align: left !important;
}

.lander {
	padding: 20px;
	text-align: left !important;
	font-size: 1em;
}


.dots {
	width: fit-content;
	font-weight: bold;
	font-size: 0.5em;
	clip-path: inset(0 3ch 0 0);
	animation: l4 1s steps(4) infinite;
}

@keyframes l4 {
	to {
		clip-path: inset(0 -1ch 0 0)
	}
}

#notification {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 10;
    left: 50%;
    bottom: 30px;
    font-size: 1em;
    opacity: 0;
    transition: opacity 1s;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transform: translateX(-50%);
}

#notification.show {
    visibility: visible;
    opacity: 1;
}

#progress-bar {
    height: 4px; 
    background-color: #fff;
	opacity: 75%; 
    width: 100%; 
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.1s linear; 
    border-bottom-left-radius: 5px; 
}

.modal {
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2px);
	display: none;
	align-items: center;
	justify-content: center;
}

.modal.show {
	display: flex;
}

.modal-content {
	background-color: #fff;
	margin: auto;
	padding: 0 20px 20px;
	border-radius: 20px;
	width: 80%;
	height: 80vh;
	color: #333;
	text-align: center;
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	overflow: auto;
	resize: both;
	max-height: 90vh;
	max-width: 90vw;
	min-height: 50vh;
	min-width: 50vw;
}

.modal-header {
	backdrop-filter: blur(2px);
	position: sticky;
	top: 0;
	padding: 20px 0px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 1.5em;
	font-weight: bold;
}

.close {
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	text-align: left;
}

.setting-name {
	font-weight: bold;
}

.options {
	display: flex;
	gap: 10px;
}

.option {
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: #f0f0f0;
	cursor: pointer;
}

.option:hover {
	background-color: #ddd;
}

.option.active {
	background-color: #bbb !important;
	cursor: pointer;
}

.option.active:hover {
	background-color: #aaa !important;
}


.setting-description {
	display: flex;
	flex-direction: column;
	margin-right: 5px;
}

.description {
	font-size: 0.9em;
	color: #666;
}
a {
	text-decoration: none;
}

#links {
	text-decoration: none;
	opacity: 80%;
	color: #333;
}

#links:hover {
    text-decoration: underline;
}

.blog {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	box-sizing: border-box;
	transition: transform 0.1s ease, box-shadow 0.1s ease;
	cursor: pointer;
	color: #fff;
}

.blog:hover {
	transform: translateY(-2px);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.blog h2 {
	margin: 0 0 10px;
	font-size: 24px;
}

.blog p {
	margin: 0;
	font-size: 16px;
	color: #ffffffb3;
}

.back-button {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 15px;
	background-color: #000;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}

.back-button:hover {
	background-color: #999;
}

.shortcut {
	display: flex;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}

.shortcut:last-child {
	border-bottom: none;
}

.key, .command {
	background-color: #eee;
	color: #000;
	padding: 5px 10px;
	border-radius: 4px;
	font-weight: bold;
	margin-right: 2px;
}

.plus {
	margin: 0 2px;
	font-weight: bold;
	color: #333;
}

.scdescription {
	flex-grow: 1;
	text-align: right!important;
	color: #555;
	text-align: left;
}


.banner {
	position: fixed;
	top: 50px; /* Slightly lower from the top */
	left: 50%;
	transform: translateX(-50%); /* Center horizontally */
	background-color: #f0f0f0; /* Green background */
	color: #000; /* White text */
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	z-index: 1000; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}

.banner-message {
	flex-grow: 1; 
}

.banner-dismiss {
	cursor: pointer;
	margin-left: 10px;
	font-weight: bold;
}

#citationList {
    max-height: 90%; 
    overflow-y: auto; 
    position: relative; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
	width: 40px!important;
}

th {
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    z-index: 10;
}

tfoot {
    position: sticky;
    bottom: 0; 
    background-color: #f4f4f4;
    z-index: 10;
}

tr:hover {
    background-color: #e9e9e9; /* Subtle hover effect */
}

.nocopy {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.bottomhr {
	opacity: 10%;
	margin-top: 100px;
}